:root {
    --font-family: "Montserrat", sans-serif;
    --second-font-family: "Unbounded", serif;
    --border-color: #D9D9D9;
    --background-color: #FFFFFF;
    /*--primary-color: #C08CFC;
    --secondary-color: #ABF54B;*/
    --primary-color: #ad6afb;
    --secondary-color: #b8fb6a;
    --text-color: #1f1f1f;
    --description-color: #757575;
    /*--primary-color-hover: #A06CD5;*/
    --primary-color-hover: #9238fa;
}

* {
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Скрыть горизонтальную прокрутку */
}

/* Общий контейнер для всей страницы */
.page-wrapper {
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    min-height: calc(100vh - 24px); /* Минимальная высота — вся высота окна */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Фиксированное позиционирование */
    height: 32px;
    top: 0; /* Прижат к верхнему краю */
    left: 0; /* Прижат к левому краю */
    width: 70%; /* Занимает всю ширину */
    background: #302e2e;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.55);
    z-index: 1000; /* Убедитесь, что header поверх других элементов */
    padding: 24px 15%; /* Отступы для содержимого header */
}


/*footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%; /* Занимает всю ширину окна */
    background-color: #302e2e;
    color: white;
    height: 32px;
    text-align: center;
    padding: 24px 15%; /* Отступы по 15% с каждой стороны */
    box-shadow: 0px -8px 30px rgba(0, 0, 0, 0.55);
    /*margin-top: 24px;*/
    position: relative; /* Убедитесь, что footer не фиксированный */
    z-index: 1; /* Чтобы footer был поверх контента */
}
body {
    /*padding-top: 80px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
   /* padding: 0 15%;*/
    margin-top: 24px;
    scrollbar-gutter: stable;
}




/* Отступ для контента, чтобы он начинался под header */
.content-wrapper {
    padding-top: 24px; /* Высота header + дополнительный отступ */
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box; /* Учесть padding в общей ширине */
    flex: 1;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1 {
    text-shadow: 2px 2px var(--secondary-color);
    font-size: 32px;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: -3%;
    font-family: var(--second-font-family);

}

.logo h1:hover{
    text-shadow: 2px 2px  var(--primary-color);
    font-size: 32px;
    color: var(--secondary-color);
}

.logo img {
    width: 44px;
    height: 44px;
    border-radius: 45px;
    margin-right: 20px;
}

.menu-items {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu-items li {
    margin-left: 25px;
}

.menu-items a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.far{
    font-size: 24px;
    color: white;
}

.fab{
    font-size: 24px;
    color: white;
}

.far:hover {
    color: var(--secondary-color);
}

.fab:hover {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: var(--primary-color);
}

.button {
    padding: 12px;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.button:hover {
    background: var(--primary-color-hover);
}

hr {
    width: 100%;
    margin: 24px auto;
    border: 1px solid var(--description-color);
}


.a-logo {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.a-logo h1 {
    padding: 0;
    margin: 0;
}


.second-font {
    font-family: var(--second-font-family); /* Основной шрифт */
    font-weight: 700;                       /* Увеличенная жирность (толще) */
    letter-spacing: 0.0em;
}


h4{
    font-style: italic;
}