:root {
    --font-family: "Montserrat", sans-serif;
    --second-font-family: "Unbounded", serif;
    --border-color: #D9D9D9;
    --background-color: #FFFFFF;
    /*--primary-color: #C08CFC;
    --secondary-color: #ABF54B;*/
    --primary-color: #ad6afb;
    --secondary-color: #b8fb6a;
    --text-color: #1f1f1f;
    --description-color: #757575;
    /*--primary-color-hover: #A06CD5;*/
    --primary-color-hover: #9238fa;
    --secondary-color-hover: #9dd65c;
    --gray-background-color: #dddddd;
}

* {
    font-family: var(--font-family);
}

body {
    /*padding-top: 80px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    scrollbar-gutter: stable;
    width: 100vw;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 24px);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 32px;
    top: 0;
    left: 0;
    width: 70%;
    background: #302e2e;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.55);
    z-index: 1000;
    padding: 24px 15%;
}


/*footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: #302e2e;
    color: white;
    height: 32px;
    text-align: center;
    padding: 24px 15%;
    box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.55);
    position: relative;
    z-index: 1;
}


/* Отступ для контента, чтобы он начинался под header */
.content-wrapper {
    padding-top: 24px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    flex: 1;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1 {
    text-shadow: 2px 2px var(--secondary-color);
    font-size: 32px;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: -3%;
    font-family: var(--second-font-family);

}

.logo h1:hover{
    text-shadow: 2px 2px  var(--primary-color);
    font-size: 32px;
    color: var(--secondary-color);
}

.logo img {
    width: 44px;
    height: 44px;
    border-radius: 45px;
    margin-right: 20px;
}

.menu-items {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu-items li {
    margin-left: 25px;
}

.menu-items a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.far, .fa, .fab, .fas{
    font-size: 24px;
    color: white;
}

.fas{
    font-size: 24px;
    color: white;
}

.far:hover, .fa:hover, .fab:hover, .fas:hover{
    color: var(--secondary-color);
}

/*.fab:hover {*/
/*    color: var(--secondary-color);*/
/*}*/

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: var(--primary-color);
}

.button {
    padding: 12px;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.button:hover {
    background: var(--primary-color-hover);
}

hr {
    width: 100%;
    margin: 24px auto;
    border: 1px solid var(--description-color);
}


.a-logo {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.a-logo h1 {
    padding: 0;
    margin: 0;
}


.second-font {
    font-family: var(--second-font-family);
    font-weight: 700;
    letter-spacing: 0.0em;
}


h4{
    font-style: italic;
}




/*ошибки*/

.input-error {
    background-color: #ffe6e6;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
