:root {
    --font-family: "Montserrat", sans-serif;
    --border-color: #D9D9D9;
    --background-color: #FFFFFF;
    --primary-color: #C08CFC;
    --secondary-color: #ABF54B;
    --text-color: #1e1e1e;
    --description-color: #757575;
}

body {
    font-family: var(--font-family);
    background-image: url("../../public/background-login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    margin: 0;
    padding: 0 15%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 20px;
    width: 272px;
    height: auto;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 4px;
}

.input {
    padding: 12px;
    width: 248px;
    height: 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 4px;
    font-family: var(--font-family);
    font-style: italic;

}

.switch-field {
    display: flex;
    justify-content: space-between;
    width: 272px;
    align-items: center;
}

.switch {
    width: 40px;
    height: 24px;
    background: lightgray;
    border-radius: 9999px;
    position: relative;
    cursor: pointer;
    transition: background 0.2s;
}

.switch.active {
    background: var(--primary-color);
}

.knob {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    top: calc(50% - 9px);
    background: #ffffff;
    border-radius: 50%;
    transition: left 0.2s;
}

.switch.active .knob {
    left: 19px;
}

.button {
    width: 272px;
    height: 40px;
    padding: 12px;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.button:hover {
    background: #A06CD5;
}

.already-registered {
    width: 272px;
    height: 16px;
    font-size: 16px;
    color: var(--primary-color);
    text-align: left;
    text-decoration: none;
}
a {
    text-decoration: none; /* Убирает подчеркивание */
}
a:-webkit-any-link {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}
a:visited {
    color: var(--primary-color);
}

.italic {
    font-style: italic;
}

.button-code {
    width: 272px;
    height: 40px;
    padding: 12px;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.button-code:hover {
    background: #A06CD5;
}

h2 {
    margin-bottom: 16px; 
    text-align: left; 
    width: auto; 
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.half-size{
    width: 100px;
    margin-top: 0px;
}

.resend-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    height: 40px;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.checkbox input:checked {
    background-color: var(--primary-color);
}

.checkbox input:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox label {
    font-family: var(--second-family);
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
}

