@import url('common-styles.css');

body {
    background-image: url("../../public/background.svg");
    margin: 0;
    padding: 0;
}

.event-list {
    margin-top: 0px;
}


.event {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 24px;
    flex-direction: row;
    border: 1px solid var(--border-color);
    transition: box-shadow 0.2s ease;
}

.event:hover {
    box-shadow: 0px 5px 20px var(--description-color);
}

.event img {
    width: 160px;
    height: 160px;
    margin-right: 24px;
}

.event-details {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 24px - 24px - 24px - 200px);
}

.event-title {
    margin: 0;
    margin-bottom: 10px;
}

.event-description {
    margin: 0;
}

.event-date-location {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.event-date-location p {
    margin: 0;
}

.event p {
    margin: 0;
    margin-bottom: 8px;
    color: var(--description-color);
    font-size: 14px;
}

.event span {
    color: var(--description-color);
    padding-left: 5px;
    padding-right: 5px;
}

.event-title h2 {
    margin: 0;
    font-size: 10px;
}

h2 {
    font-size: 20px;
}

.add-to-cart {
    width: 200px;
    height: 34px;
    padding: 8px 16px;
    margin-top: auto;
    font-size: 14px;
    text-align: left;
}

.title-fav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.heart {
    color: blue;
    font-size: 24px;
    transition: color 0.3s;
}

.heart.filled {
    color: red;
}

.heart:hover {
    color: #ff6b6b;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 24px;
    flex-direction: row;
    margin-top: 80px;
    padding: 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 45px;
    width: 300px;
    padding: 8px 16px;
    border: 1px solid var(--border-color);
}

.search input[type="text"] {
    flex-grow: 1;
    margin-right: 16px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}

.search input[type="text"]::placeholder {
    color: var(--description-color);
}

.search .fa-search {
    color: var(--description-color);
    cursor: pointer;
}

.filter-button {
    border: 1px solid var(--border-color);
    background-color: white;
    height: 38px;
    border-radius: 45px;
    font-size: 16px;
    color: var(--description-color);
    padding: 8px 16px;
    margin-left: 8px;
}

.filter-button:hover {
    background: #f0f0f0;
}

input[type='date'] {
    background: #f2f2f2;
    color: #000;
    font-size: 16px;
    border: none;
    background: white;
    border-radius: 45px;
    padding: 8px 16px;
    color: var(--description-color);
    margin-left: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: white;
    color: var(--description-color);
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    border-radius: 45px;
    font-size: 16px;
}

.dropdown-toggle:hover {
    background-color: #f0f0f0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 16px;
    overflow: hidden;
}

.dropdown-menu a {
    color: var(--description-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.pagination a {
    margin:  0 5px 24px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--description-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: background 0.3s ease;
    background-color: white;
}

.pagination a:hover {
    background: #f0f0f0;
}





/* fav events*/
.favourite-events-title{
    background-color: rgba(255, 255, 255, 0.45);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    width: auto;
    padding: 24px;
    margin-bottom: 24px;
}


/*registrations*/
.button-container {
    display: flex; /* Размещаем кнопки в строку */
    gap: 24px; /* Расстояние между кнопками */
    margin-top: 16px; /* Отступ сверху */

}


.cancel-registration {
    background-color: var(--border-color);
    color: var(--text-color);
    width: 220px;
    height: 34px;
    padding: 8px 16px;
    margin-top: auto;
    font-size: 14px;
    text-align: left;
}

.cancel-registration:hover {
    background: #c8c8c8;
}