@import url('common-styles.css');

body {
    background-image: url("../../public/background.svg");
}

h1 {
    margin: 0;
    margin-bottom: 0px;
    align-self: center;
}

.profile {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #D9D9D9;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-info img {
    width: 220px;
    height: 220px;
    margin-right: 72px;
    border-radius: 16px;
}

.user-name {
    margin: 0;
}

.user-details {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-details p {
    margin: 0;
}

hr {
    width: 100%;
    margin: 24px auto;
    border: 1px solid #757575;
}

h3 {
    padding: 0;
    margin-bottom: 24px;
    margin-top: 0px;
    font-style: italic;
}

.fav-tag {
    border: 1px solid #d9d9d9;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
}

li {
    font-family: var(--font-family);
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 12px 0px;
}

a:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

.menu {
    width: 120px;
    padding: 12px 24px 12px 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #D9D9D9;
}

.all {
    margin-top: 80px;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

table {
    border: 2px solid rgb(140 140 140);
}

thead > tr,
tfoot > tr {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
}