@import url('common-styles.css');

body {
    background-image: url("../../public/background.svg");
    margin-top: 24px;
}

h1 {
    margin: 0;
    margin-bottom: 0px;
    align-self: center;
}

.profile {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    border: 1px solid var(--border-color);
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-info img {
    width: 220px;
    height: 220px;
    margin-right: 72px;
    border-radius: 16px;
}

.user-name {
    margin: 0;
}

.user-details {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-details p {
    margin: 0;
}

hr {
    width: 100%;
    margin: 24px auto;
    border: 1px solid var(--description-color);
}

h3 {
    padding: 0;
    margin-bottom: 24px;
    margin-top: 0px;
    font-style: italic;
}

.fav-tag {
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
}

li {
    font-family: var(--font-family);
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 12px 0px;
    text-align: center;
}

a:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
}

a:-webkit-any-link {
    color: var(--description-color);
    cursor: pointer;
    text-decoration: none;
}
a:visited {
    color: var(--description-color);
}

.menu {
    width: 150px;
    padding: 12px 24px 12px 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    border: 1px solid var(--border-color);
}

.all {
    margin-top: 56px;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

table {
    border: 2px solid var(--description-color);
}

thead > tr,
tfoot > tr {
    background-color: var(--border-color);
}

th,
td {
    border: 1px solid var(--description-color);
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"] {
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.save-btn {
    margin-top: 24px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.save-btn:hover {
    background-color: var(--primary-color-hover);
}


.tags-select {
    width: 100%;
    min-height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tags-select option {
    padding: 4px;
}

.tags-select option:checked {
    background-color: #e0f7fa;
}

.user-details label {
    display: block; /* Чтобы подписи были на отдельных строках */
    margin-bottom: 8px; /* Отступ в 8 пикселей после текста */
}
.tags-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Переносит элементы на новую строку при нехватке места */
    max-height: 74px; /* Ограничивает высоту контейнера */
    overflow-y: auto; /* Добавляет вертикальную прокрутку при переполнении */
    margin-bottom: 16px;

}


.statistic p {
    margin: 0;
    margin-bottom: 8px;
}
