{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/profile-styles.css">
    <link rel="stylesheet" href="../static/css/edit-profile-styles.css">
{% endblock %}

{% block content %}
    <div class="all">
        <ul class="menu">
            <li title="home"><a href="#" class="menu-button home">Menu</a></li>
            <li title="Favourite"><a href="/favourite-events" class="favourite-events">Favourite events</a></li>
            <li title="pencil"><a href="#" class="pencil">Pencil</a></li>
            <li title="about"><a href="#" class="active about">About</a></li>
            <li title="archive"><a href="#" class="archive">Archive</a></li>
            <li title="contact"><a href="#" class="contact">Contact</a></li>
        </div>
        <form id="edit-profile">
            <div class="edit-profile">
                <div class="input-field">
                    <label class="input-label" for="change-name">Enter your name</label>
                    <input class="input" type="text" id="change-name" placeholder="Elizaveta" />
                </div>
                <div class="input-field">
                    <label class="input-label" for="change-surname">Enter your surname</label>
                    <input class="input" type="text" id="change-surname" placeholder="Katkovskaya" />
                </div>
                <div class="input-field">
                    <label class="input-label" for="change-mobile-phone">Enter your phone</label>
                    <input class="input" type="text" id="change-mobile-phone" placeholder="not set" />
                </div>
                <div class="input-field">
                    <label class="input-label" for="change-birthdate">Enter your birthdate</label>
                    <input class="input" type="email" id="change-birthdate" placeholder="18.11.2003" />
                </div>
                <div class="input-field">
                    <label class="input-label" for="change-address">Enter your address</label>
                    <input class="input" type="email" id="change-address" placeholder="Minsk, Belarus" />
                </div>
            </div>
        </form>
    </div>

{% endblock %}