{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/main-page-styles.css">
{% endblock %}

{% block content %}

    <div class="favourite-events-title"  style="margin-top: 80px; text-align: center;" >
        <h1 class="second-font" style="margin-top: 0px;">Любимые события</h1>
    </div>
    <section class="favourite-event-list">
        <article class="event">
            <img src="../static/images/test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">Название события 1</h2>
                    <a href="#favourite"><i class="far fa-heart" style="color: #757575";></i></a>
                </div>
                <p class="event-description">Описание события 1. Описание события 1. Описание события sdv sdd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="button add-to-cart">Узнать подробнее...</button>
            </div>
        </article>
        <article class="event">
            <img src="../static/images/test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">Название события 1</h2>
                    <a href="#favourite"><i class="far fa-heart" style="color: #757575";></i></a>
                </div>
                <p class="event-description">Описание события 1. Описаниние d d d d dd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="button add-to-cart">Больше...</button>
            </div>
        </article>
        <article class="event">
            <img src="../static/images/test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">214 описание макс</h2>
                    <a href="#favourite"><i class="far fa-heart" style="color: #757575";></i></a>
                </div>
                <p class="event-description">ММММММММММММММММММММММММММММММММММММММММММ ММММММММММММММММММММММММММММММММММММММ</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="button add-to-cart">Больше...</button>
            </div>
        </article>
        <div class="pagination">
            <a href="#">&laquo; Назад</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">Вперед &raquo;</a>
        </div>
    </section>

{% endblock %}