{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/main-page-styles.css">
{% endblock %}

{% block content %}

    <!--<div class="favourite-events-title"  style="margin-top: 80px; text-align: center;" >
        <h1 class="second-font" style="margin: 0px">Любимые события</h1>
    </div>-->
    <h4 style="margin-top: 80px;">Аккаунт/Избранное</h4>
    <div class="fav-switch-buttons"  >
        <button type="button" class="fav-switch-button" id="fav-switch-button-event">Избранные мероприятия</button>
        <button type="button" class="fav-switch-button-na" id="fav-switch-button-org">Избранные организаторы</button>
    </div>

    <section class="event-list">
        {% for event_data in events %}
        <article class="event">
            <img src="{{ event_data.event.image or '/static/images/test_image.jpg' }}" alt="{{ event_data.event.title }}">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">{{ event_data.event.title }}</h2>
                    <a href="#" class="favourite-btn" data-event-id="{{ event_data.event.id }}">
                        <i class="{% if event_data.is_favourite %}fas{% else %}far{% endif %} fa-heart"
                        style="color: {% if event_data.is_favourite %}red{% else %}#757575{% endif %};"></i>
                    </a>
                </div>
                <p class="event-description">{{ event_data.event.description or 'Описание отсутствует' }}</p>
                <div class="event-date-location">
                    <p class="event-time">{{ event_data.event.time.strftime('%H:%M') if event_data.event.time else 'Не указано' }}</p>
                    <span></span>
                    <p class="event-date">{{ event_data.event.date.strftime('%d.%m.%Y') if event_data.event.date else 'Не указано' }}</p>
                    <span class="separator"> | </span>
                    <p class="event-location">{{ event_data.event.location if event_data.event.location else 'Место не указано' }}</p>
                </div>
                <p class="event-price">Цена: {{ event_data.event.price or 'Бесплатно' }}</p>
                <button type="button" class="button add-to-cart" onclick="window.location.href='/events/event/{{ event_data.event.id }}'">Узнать подробнее...</button>
            </div>
        </article>
        {% endfor %}

        <div class="pagination">
            {% if current_page > 1 %}
                <a href="/main-page?page={{ current_page - 1 }}">&laquo; Назад</a>
            {% endif %}

            {% for page_num in range(1, total_pages + 1) %}
                <a href="/main-page?page={{ page_num }}" {% if page_num == current_page %}class="active"{% endif %}>{{ page_num }}</a>
            {% endfor %}

            {% if current_page < total_pages %}
                <a href="/main-page?page={{ current_page + 1 }}">Вперед &raquo;</a>
            {% endif %}
        </div>
    </section>

{% endblock %}