{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/main-page-styles.css">
{% endblock %}

{% block content %}

    <!--<div class="favourite-events-title"  style="margin-top: 80px; text-align: center;" >
        <h1 class="second-font" style="margin: 0px">Любимые события</h1>
    </div>-->
    <h4 style="margin-top: 80px;">Аккаунт/Избранное</h4>
    <div class="fav-switch-buttons"  >
        <button type="button" class="fav-switch-button-na" id="fav-switch-button-event">Избранные мероприятия</button>
        <button type="button" class="fav-switch-button" id="fav-switch-button-org">Избранные организаторы</button>
    </div>

    <section class="event-list">
        {% for org_data in organizers %}
        <article class="event organizer-card" style="box-shadow: 0 4px 8px white;">
            <img src="{{ org_data.organizer.avatar or '/static/images/avatar_1.jfif' }}"
                 alt="{{ org_data.organizer.name }} {{ org_data.organizer.surname }}">
            <div class="org-details">
                <div class="title-fav">
                    <h2 class="event-title">{{ org_data.organizer.name }} {{ org_data.organizer.surname }}</h2>
                    <a href="#" class="favourite-btn favourite-organizer-btn"
                       data-organizer-id="{{ org_data.organizer.id }}">
                        <i class="{% if org_data.is_favorite %}fas{% else %}far{% endif %} fa-heart"
                           style="color: {% if org_data.is_favorite %}red{% else %}#757575{% endif %};"></i>
                    </a>
                </div>
                <div class="org-info">
                    <p class="event-time">{{ org_data.organizer.email }}</p>
                    <p class="event-time">Добавили в избранное: {{ org_data.organizer.followers_count }}</p>


                </div>
                <p class="event-time">Мероприятий: {{ org_data.organizer.events_count }}</p>
            </div>
        </article>
        {% endfor %}

        <div class="pagination">
            {% if current_page > 1 %}
                <a href="/favourite-org-page?page={{ current_page - 1 }}">&laquo; Назад</a>
            {% endif %}

            {% for page_num in range(1, total_pages + 1) %}
                <a href="/favourite-org?page={{ page_num }}" {% if page_num == current_page %}class="active"{% endif %}>{{ page_num }}</a>
            {% endfor %}

            {% if current_page < total_pages %}
                <a href="/favourite-org?page={{ current_page + 1 }}">Вперед &raquo;</a>
            {% endif %}
        </div>
    </section>

{% endblock %}