{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login-styles.css">
{% endblock %}

{% block content %}
    <form id="firstForgotPasswordForm">
        <h2 class="second-font">Забыли пароль</h2>
        <div class="form-container">
            <div class="input-field">
                <label class="input-label" for="email-to-reset-password">Введите email, используемый для регистрации</label>
                <input class="input" type="text" id="email-to-reset-password" placeholder="kbpf1811@gmail.com" />
            </div>
            <div class="resend-code">
                <div class="already-registered italic half-size" for="cancel">
                    <a href="/login" for="cancel">Назад</a>
                </div>         
                <button type="button" class="button" id="button" width=146>Сбросить пароль</button>
            </div>
        </div>
    </form>
{% endblock %}