{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login-styles.css">
    <link rel="stylesheet" href="../static/css/common-styles.css">
{% endblock %}

{% block content %}
    <form id="firstRegistrationForm">
        <h2 class="second-font">Регистрация</h2>
        <div class="form-container">
            <div class="input-field">
                <label class="input-label" for="username">Enter your name</label>
                <input class="input" type="text" id="username" placeholder="Elizaveta" />
            </div>
            <div class="input-field">
                <label class="input-label" for="surname">Enter your surname</label>
                <input class="input" type="text" id="surname" placeholder="Katkovskaya" />
            </div>
            <div class="switch-field">
                <div class="switch-label">Creator</div>
                <div class="switch" id="toggleSwitch">
                    <div class="knob"></div>
                </div>
            </div>
            <button type="button" class="button" id="nextButton">Next</button>
            <div class="already-registered italic">
                <a href="/login" class="login-link">Already registered? Log In</a>
            </div>
        </div>
    </form>
    <script src="../static/js/script.js"></script>
{% endblock %}