{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login-styles.css">
{% endblock %}

{% block content %}
    <form id="loginForm">
        <h2 class="second-font">Вход</h2>
        <div class="form-container">
            <div class="input-field">
                <label class="input-label" for="login-email">Введите email</label>
                <input class="input" type="text" id="login-email" placeholder="kbpf1811@gmail.com" />
            </div>
            <div class="input-field">
                <label class="input-label" for="login-password">Введите пароль</label>
                <input class="input" type="text" id="login-password" placeholder="qwerty1811" />
            </div>
            <div class="checkbox">
                <input type="checkbox" id="login-scales" name="login-scales" checked />
                <label for="login-scales">Запомнить меня</label>
            </div>
            <button type="button" class="button">Войти</button>
{#            <div class="already-registered italic">#}
{#                <a href="/forgot-password" class="forgot-password-link">Забыли пароль?</a>#}
{#                <a href="/" class="forgot-password-link">Register</a>#}
{#            </div>#}
            <div class="line-container">
                <hr class="custom-hr">
                <span class="line-text">или</span>
                <hr class="custom-hr">
            </div>
            <button type="button" class="alternative-auth" id="alternativeAuthButton">
                    <img src="../static/images/icons/google-icon.svg" alt="G" width="24" height="24" class="icon">
                    Войти с помощью Google
            </button>

        </div>
        <div class="already-registered italic">
            <a href="/" class="login-link">Не зарегистрированы?</a>
        </div>
    </form>
    <script>
        document.querySelector('.button').addEventListener('click', function() {
            window.location.href = '/main-page';
        });
    </script>
{% endblock %}