<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main-page-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Основная страница</title> 
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../public/favicon.ico" alt="">
            <h1>Even</h1>
            <h1 class="logo-name">ТЫ</h1>
        </div>
        <ul class="menu-items">
            <li><a href="#favourite"><i class="far fa-heart"></i></a></li>
            <li><a href="#sellers"><i class="far fa-bell"></i></a></li>
            <li><a href="#news"><i class="far fa-user"></i></a></li>
        </ul>
    </nav>
    <div class=""></div>
    <section class="event-list">
        <article class="event">
            <img src="D:\BSUIR\diploma\frontend\static\images\test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <h2 class="event-title">Название события 1</h2>
                <p class="event-description">Описание события 1. Описание события 1. Описание события sdv sdd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="add-to-cart">Больше...</button>
            </div>
        </article>
        <article class="event">
            <img src="D:\BSUIR\diploma\frontend\static\images\test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <h2 class="event-title">Название события 1</h2>
                <p class="event-description">Описание события 1. Описаниние d d d d d d ddddddddddddd d  dv Описание тv sdv sdd d d d d d d ddddddddddddd d  dv е товара 1. Описание товарsvsvsvdsdv sdv sdd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="add-to-cart">Больше...</button>
            </div>
        </article>
        <article class="event">
            <img src="D:\BSUIR\diploma\frontend\static\images\test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <h2 class="event-title">Название события  214 символов описание максимум</h2>
                <p class="event-description">ММММММММММММММММММММММММММММММММММММММММММММММММММММММММММММММ ММММММММММММММММММММММММММММММММММММММММММММММММММММММММММММММ</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="add-to-cart">Больше...</button>
            </div>
        </article>
        <article class="event">
            <img src="D:\BSUIR\diploma\frontend\static\images\test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <h2 class="event-title">Название события 1</h2>
                <p class="event-description">Описание события 1. Описание события 1. Описание события sdv sdd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="add-to-cart">Больше...</button>
            </div>
        </article>
        <article class="event">
            <img src="D:\BSUIR\diploma\frontend\static\images\test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <h2 class="event-title">Название события 1</h2>
                <p class="event-description">Описание события 1. Описание события 1. Описание события sdv sdd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="add-to-cart">Больше...</button>
            </div>
        </article>
    </section>
</body>
</html>
