{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/main-page-styles.css">
{% endblock %}

{% block content %}

    <div class="filter">
        <div class="search">
            <label>
                <input type="text" placeholder="Search" name="search" >
            </label>
            <i class="fa fa-search"></i>
        </div>
        <div class="filter-buttons">
            <div class="dropdown">
                <button class="dropdown-toggle">Сортировка  <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div class="dropdown-menu">
                    <a href="#" data-sort="rec">По релевантности</a>
                    <a href="#" data-sort="asc">По возрастанию</a>
                    <a href="#" data-sort="desc">По убыванию</a>
                    <a href="#" data-sort="date">По дате</a>
                    <a href="#" data-sort="name">По имени</a>
                </div>
              </div>
            <input type="date" id="start" name="trip-start" value="2025-02-20" min="2025-02-20" />
            <button type="button" class="filter-button">Фильтр</button>
        </div>
    </div>
    <section class="event-list">
        <article class="event">
            <img src="../static/images/test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">Название события 1</h2>
                    <a href="#favourite"><i class="far fa-heart" style="color: #757575";></i></a>
                </div>
                <p class="event-description">Описание события 1. Описание события 1. Описание события sdv sdd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="button add-to-cart">Узнать подробнее...</button>
            </div>
        </article>
        <article class="event">
            <img src="../static/images/test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">Название события 1</h2>
                    <a href="#favourite"><i class="far fa-heart" style="color: #757575";></i></a>
                </div>
                <p class="event-description">Описание события 1. Описаниние d d d d dd d d d d d d ddddddddddddd d  dv sdv  sdvsd v  s vs v sвара 1.</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="button add-to-cart">Больше...</button>
            </div>
        </article>
        <article class="event">
            <img src="../static/images/test_image.jpg" alt="Описание товара 1">
            <div class="event-details">
                <div class="title-fav">
                    <h2 class="event-title">214 описание макс</h2>
                    <a href="#favourite"><i class="far fa-heart" style="color: #757575";></i></a>
                </div>
                <p class="event-description">ММММММММММММММММММММММММММММММММММММММММММ ММММММММММММММММММММММММММММММММММММММ</p>
                <div class="event-date-location">
                    <p class="event-date">18:00 12.12.2024</p>
                    <span class="separator"> | </span>
                    <p class="event-location">г. Минск, ул. Советская 15</p>
                </div>
                <p class="event-price">Cost: $29.99</p>
                <button type="button" class="button add-to-cart">Больше...</button>
            </div>
        </article>
        <div class="pagination">
            <a href="#">&laquo; Назад</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">Вперед &raquo;</a>
        </div>
    </section>
    <script>
              // Получаем элементы
        const dropdownToggle = document.querySelector('.dropdown-toggle');
        const dropdownMenu = document.querySelector('.dropdown-menu');
        const dropdown = document.querySelector('.dropdown');

        // Открываем/закрываем меню при клике на кнопку
        dropdownToggle.addEventListener('click', () => {
            dropdown.classList.toggle('active');
        });

        // Закрываем меню при клике вне его
        document.addEventListener('click', (event) => {
            if (!dropdown.contains(event.target)) {
                dropdown.classList.remove('active');
            }
        });

        // Обработка выбора сортировки
        dropdownMenu.addEventListener('click', (event) => {
            event.preventDefault(); // Отменяем переход по ссылке
            const selectedSort = event.target.getAttribute('data-sort');
            console.log(`Выбрана сортировка: ${selectedSort}`);
            // Здесь можно добавить логику для сортировки данных
            dropdown.classList.remove('active'); // Закрываем меню после выбора
        });
    </script>
{% endblock %}