{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login-styles.css">
{% endblock %}

{% block content %}
    <form id="newPasswordForm">
        <h2 class="second-font">Новый пароль</h2>
        <div class="form-container">
            <div class="input-field">
                <label class="input-label" for="new-password">Enter new password</label>
                <input class="input" type="text" id="new-password" placeholder="qwerty1234" />
            </div>
            <div class="input-field">
                <label class="input-label" for="repeat-new-password">Repeat password</label>
                <input class="input" type="text" id="repeat-new-password" placeholder="qwerty1234" />
            </div>
            <button type="button" class="button">Reset password</button>
        </div>
    </form>
    <script>
        document.querySelector('.button').addEventListener('click', function() {
            window.location.href = '/login';
        });
    </script>
{% endblock %}