{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/notification-styles.css">
{% endblock %}

{% block content %}
    <form id="secondForgotPasswordForm">
        <div class="notification">
            <div class="stack">
                <div class="content">
                    <div class="reset-password">
                        <img src="../static/images/icons/notification-icon.svg" alt="Notification" class="notification-icon">
                        Сброс пароля
                    </div>
                    <div class="description">Дальнейшие инструкции будут отправлены на {email}</div>
                </div>
                <button type="button" class="button" id="button">
                    <img src="../static/images/icons/arrow-left-icon.svg" alt="arrow-left" class="arrow-left-icon">
                    Вернуться ко входу
                </button>
            </div>
        </div>
    </form>
{% endblock %}