{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/notification-styles.css">
{% endblock %}

{% block content %}
    <form id="secondForgotPasswordForm">
        <div class="notification">
            <div class="stack">
                <div class="content">
                    <div class="reset-password">
                        <img src="../static/images/icons/notification-icon.svg" alt="Notification" class="notification-icon">
                        Reset password
                    </div>
                    <div class="description">Further instructions will be sent to {email}</div>
                </div>
                <button type="button" class="button">
                    <img src="../static/images/icons/arrow-left-icon.svg" alt="arrow-left" class="arrow-left-icon">
                    Back to Log In
                </button>
            </div>
        </div>
    </form>
    <script>
        document.querySelector('.button').addEventListener('click', function() {
            window.location.href = '/new-password';
        });
    </script>
{% endblock %}