{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/profile-styles.css">
{% endblock %}

{% block content %}

    <div class="all">
        <div ul class="menu">
            <li title="home"><a href="#" class="menu-button home">Обо мне</a></li>
            <li title="Registrations"><a href="/user-registrations" class="registrations">Регистрации</a></li>
            <li title="Edit profile"><a href="/edit-profile" class="edit-profile">Изменить профиль</a></li>
            <li title="passed events"><a href="/passed-events" class="passed-events">Прошедшие</a></li>
        </div>
    
        <div class="profile">

            <!--<h1 class="second-font">Аккаунт</h1>-->
            <hr style="margin-top: 0;">

            <!-- profile.html -->
            <div class="user-info">
                <img src="{{ user.avatar or '/static/images/default-avatar.jpg' }}" alt="Фото профиля">
                <div class="user-details">
                    <h2 class="user-name">{{ user.name }} {{ user.surname }}</h2>
                    <p class="user-birthdate">Дата рождения: {{ user.birthdate or 'Не указана' }}</p>
                    <p class="user-email">Email: {{ user.email }}</p>
                    <p class="user-phone">Моб. телефон: {{ user.phone or 'Не указан' }}</p>
                    <p class="user-location">Адрес: {{ user.location or 'Не указан' }}</p>
                </div>
            </div>

            <div class="favourite-tags">
                <h3>Любимые категории</h3>
                {% for tag in user.favorite_tags %}
                    <label class="fav-tag">{{ tag }}</label>
                {% endfor %}
            </div>

            <div class="statistic">
                <h3>Статистика посещений</h3>
                <p>Посещено мероприятий: {{ user.statistics.events_visited }}</p>
                <p>Последнее посещение: {{ user.statistics.last_visit or 'Нет данных' }}</p>
            </div>
        </div>
    </div>
{% endblock %}