{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/profile-styles.css">
{% endblock %}

{% block content %}

    <div class="all">
        <div ul class="menu">
            <li title="home"><a href="#" class="menu-button home">Main info</a></li>
            <li title="Favourite"><a href="/favourite-events" class="favourite-events">Favourite events</a></li>
            <li title="Registrations"><a href="/user-registrations" class="registrations">Registration</a></li>
            <li title="Edit profile"><a href="/edit-profile" class="edit-profile">Edit Profile</a></li>
        </div>
    
        <div class="profile">

            <!--<h1 class="second-font">Аккаунт</h1>-->
            <hr style="margin-top: 0;">

            <div class="user-info">
                <img src="../static/images/avatar_1.jfif" alt="Фото профиля">
                <div class="user-details">
                    <h2 class="user-name">Елизавета Катковская</h2>
                    <p class="user-birthdate">Дата рождения: 18.11.2003</p>
                    <p class="user-email">Email: kbpf1911@gmail.com</p>
                    <p class="user-phone">Моб. телефон: + 375 (33) 360-48-20</p>
                    <p class="user-location">Адрес: г. Минск, ул. Советская 15</p>
                </div>
            </div>
            <hr>
            <div class="favourite-tags">
                <h3>Любимые категории</h3>
                <label class="fav-tag">sport</label>
                <label class="fav-tag">sport</label>
                <label class="fav-tag">sport</label>
                <label class="fav-tag">sport</label>
                <label class="fav-tag">sport</label>
            </div>
            <hr>
            <div class="statistic">
                <h3>Статистика мероприятий</h3>
            </div>
        </div>
    </div>
{% endblock %}