{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login-styles.css">
{% endblock %}

{% block content %}
    <form id="secondRegistrationForm">
        <h2 class="second-font">Регистрация</h2>
        <div class="form-container">
            <div class="input-field">
                <label class="input-label" for="register-email">Enter your email</label>
                <input class="input" type="email" id="register-email" placeholder="kbpf1811@gmail.com" />
            </div>
            <div class="input-field">
                <label class="input-label" for="register-password">Enter your password</label>
                <input class="input" type="password" id="register-password" placeholder="qwerty1811" />
            </div>
            <div class="input-field">
                <label class="input-label" for="register-confirm-password">Confirm password</label>
                <input class="input" type="password" id="register-confirm-password" placeholder="qwerty1811" />
            </div>
            <div class="resend-code">
                <input class="input half-size" type="text" id="register-code" placeholder="123456" />
                <button type="button" class="button button-code">Resend code</button>
            </div>
            <button type="button" class="button" id="registerButton">Register</button>
            <div class="already-registered italic">
                <a href="/login" class="login-link">Already registered? Log In</a>
            </div>
            <hr style="margin: 0; border-color: #D9D9D9">
            <div class="alternative-auth">
                <p style="font-style: italic">Войти с помощью</p>
                <img src="../static/images/icons/google-icon.svg" alt="G" width="32" height="32" style="visibility: hidden">
                <img src="../static/images/icons/google-icon.svg" alt="G" width="32" height="32">
                <img src="../static/images/icons/google-icon.svg" alt="G" width="32" height="32"  style="visibility: hidden">
            </div>
        </div>
    </form>
{% endblock %}