{% extends "login-base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login-styles.css">
{% endblock %}

{% block content %}
    <form id="secondRegistrationForm">
        <h2 class="second-font">Регистрация</h2>
        <div class="form-container">
            <div class="input-field">
                <label class="input-label" for="register-email">Введите ваш email</label>
                <input class="input" type="email" id="register-email" placeholder="kbpf1811@gmail.com" />
            </div>
            <div class="input-field">
                <label class="input-label" for="register-password">Придумайте пароль</label>
                <input class="input" type="password" id="register-password" placeholder="qwerty1811" />
            </div>
            <div class="input-field">
                <label class="input-label" for="register-confirm-password">Подтвердите пароль</label>
                <input class="input" type="password" id="register-confirm-password" placeholder="qwerty1811" />
            </div>
            <div class="resend-code">
                <input class="input half-size" type="text" id="register-code" placeholder="123456" />
                <button type="button" class="button button-code">Прислать код</button>
            </div>
            <button type="button" class="button" id="registerButton">Зарегистрироваться</button>
            <div class="line-container">
                <hr class="custom-hr">
                <span class="line-text">или</span>
                <hr class="custom-hr">
            </div>
            <button type="button" class="alternative-auth" id="alternativeAuthButton">
                    <img src="../static/images/icons/google-icon.svg" alt="G" width="24" height="24" class="icon">
                    Войти с помощью Google
            </button>

        </div>
        <div class="already-registered italic">
            <a href="/login" class="login-link">Уже зарегистрированы? Войти</a>
        </div>
    </form>
{% endblock %}